# 서버 라이브러리 무시
node_modules/
functions/node_modules/

# 맥 전용 시스템 파일 무시
.DS_Store

# 로그 및 임시 파일
npm-debug.log*
firebase-debug.log*
.firebase/

# 파이어베이스 보안 규칙 파일 무시 (보안 권장)
database.rules.json

# 로컬 전용 (GitHub Desktop에서 변경 표시 제외)
functions/index.js